.photo-grid__list {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  width: 100%;
}

@media screen and (max-width: 1180px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 980px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 580px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
