@import url("./__list/photo-grid__list.css");
@import url("./__item/photo-grid__item.css");
@import url("./__image/photo-grid__image.css");

.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  border: 1px solid red;
}

@media screen and (max-width: 1180px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 980px) {
  .photo-grid {
    max-width: 720px;
  }
}
  
@media screen and (max-width: 580px) {
  .photo-grid {
    max-width: 288px;
  }
}
  
