.place__image {
  position: relative;
  grid-area: image;
  object-fit: contain;
  width: 100%;
  max-width: 460px;
}

@media screen and (max-width: 1180px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 980px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 580px) {
  .place__image {
    max-width: 320px;
  }
}
