.place__website-link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
}

@media screen and (max-width: 425px) {
    .place__website-link {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__website-link {

    }
  }
  
  @media screen and (min-width: 1280px) {
    .place__website-link {

    }
  }