.intro__container {
  max-width: 690px;
}
  
  
@media screen and (max-width: 1180px) {
  .intro__container {
    max-width: 690px;
  }
}
  
@media screen and (max-width: 980px) {
  .intro__container {
    padding-left: 24px;
    max-width: 720px;
  }
}
  
@media screen and (max-width: 580px) {
  .intro__container {
    padding-left: 16px;
    max-width: 288px;
  }
}