.footer__links{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:980px){
  .footer__links{
  }
}

@media screen and (max-width:580px){
  .footer__links{
    display: inline;   
    padding-left: 0;
  }
}