.place__paragraph {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.place__paragraph .big-text {
  font-size: 18px;
  line-height: 30px;
}
  
@media screen and (max-width: 980px) {
  .place__paragraph .big-text {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 580px) {
  .place__paragraph .big-text {
    font-size: 16px;
    line-height: 26px;
  }
}
