.footer__copyright{
  margin-right: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 2px;
  text-align: right;
  border: 1px solid red;
}
  
@media screen and (max-width:980px){
  .footer__copyright{
    margin-right: 24px;
  }
}

@media screen and (max-width:580px){
  .footer__copyright{
    line-height: 14px;
    margin-left: 16px;
  }
}