.lead__image {
  width: 100%;
  object-fit: cover;
  max-width: 928px;
  margin: 0 auto 8;
  border: 1px solid red;
}

@media screen and (max-width: 425px) {
    .lead__image {
      max-width: 320px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead__image {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .lead__image {
      max-width: 984px;
    }
  }