@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");
@import url("./__list/intro__list.css");

.intro {
  margin: 0 100px;
  max-width: 690px;
}


@media screen and (max-width: 1180px) {
  .intro {
    margin: 0 48px;
    max-width: 690px;
  }
}

@media screen and (max-width: 980px) {
  .intro {
    margin: 0 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 580px) {
  .intro {
    margin: 0 16px;
    max-width: 288px;
  }
}