@import url("./__container/intro__container.css");
@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");
@import url("./__list/intro__list.css");

.intro {
  max-width: 984px;
  width: calc(100% - (100px * 2));
  margin: 0 auto;
}

@media screen and (max-width: 1180px) {
.intro {
  max-width: 928px;
  width: calc(100% - (48px * 2));
  }
}


@media screen and (max-width: 980px) {
.intro {
  max-width: 768px;
  width: 100%;
  }
}

@media screen and (max-width: 580px) {
.intro {
  max-width: 320px;
  width: 100%;
  }
}