@import url("./__link/footer__links.css"); 
@import url("./__link/footer__link.css"); 
@import url("./__copyright/footer__copyright.css"); 

.footer { 
  width: calc(100% - (24px * 2));
  max-width: 1184px; 
  margin: 0 24px 24px; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid yellow;
} 

@media screen and (min-width: 1180px) { 
  .footer { 
    max-width: 928px; 
  } 
} 

@media screen and (max-width: 980px) { 
  .footer { 
    max-width: 720px; 
  } 
} 

@media screen and (max-width: 580px) { 
  .footer { 
    max-width: 168px; 
    width: calc(100% - (24px * 2));
    display: inline;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  } 
} 
 