@import url("./__links/footer__links.css"); 
@import url("./__link/footer__link.css"); 
@import url("./__copyright/footer__copyright.css"); 

.footer { 
  box-sizing: border-box;
  width: 100%
  max-width: 1184px; 
  margin: 0 auto 24px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;

} 

@media screen and (min-width: 1180px) { 
  .footer { 
  } 
} 

@media screen and (max-width: 980px) { 
  .footer {   
    padding: 0 24px;
  } 
} 

@media screen and (max-width: 580px) { 
  .footer { 
    padding: 0 16px;
    display: inline;
    column-count: 1;
  } 
} 
 