.place__website {
  width: 50%;
  grid-area: website;
  align-self: end;
}

@media screen and (max-width: 425px) {
    .place__website {
      display: none;
    }
  }
  
  @media screen and (max-width: 766px) {
    .place__website {
    }
  }
